body {
  margin: 0;
  padding: 0;
  width: 100vw
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.signOut{
  bottom:0;
  right:0;
  position:fixed;
}


