/* Navbar */
.home-navbar {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #023e8a;
}

/* Weeks Nav */
.weeks-nav-btn {
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 8px 4px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}

.weeks-nav-btn:hover {
  background-color: #ededed;
  padding-left: 6px;
}

.weeks-nav-btn.active {
  background-color: #ededed;
  padding-left: 6px;
}

/* Entries Nav */
.entries-list {
  overflow-y: scroll;
  max-height: 800px;
}

.entries-headers {
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
}

.entries-nav-btn {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 0;
}

.entries-nav-btn small {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.entries-nav-btn:hover {
  background-color: #ededed;
  cursor: pointer;
  padding-left: 6px;
}

.entries-nav-btn.active {
  padding-left: 6px;
  background-color: #ededed;
}
