.Timeline {
  width: 70%;
}

.TimelineElement {
  margin: 20px 0px;
  width: 50%;
  transition: width ease-in-out 0.3s;
}

.TimelineElement.Chosen {
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 500px;
}

.left {
  width: 25%;

}

.middle {
  width: 50%;
}

.right {
  width: 25%;
  text-align: center;
}
